@use "sass:math";
@use "sass:list";

// -----------------------------------------------------------------------------
// STRIP UNIT

@function strip-unit($num) {
  @return math.div($num, ($num * 0 + 1));
}

// -----------------------------------------------------------------------------
// EM/REM CALC
// Usage examples:
//  - rem(10px)
//  - rem(10)
//  - rem(10 20)
//  - rem(10 20 30 40)
//  - rem(20 auto)
//  - rem(20 auto 70%)

$em-base: 16px !default;

@function emrem($values, $base-value: $em-base, $type: "em") {
  $max: list.length($values);
  $new-values: ();

  @if $type == "em" {
    $type: 1em;
  } @else {
    $type: 1rem;
  }

  @for $i from 1 through $max {
    $i-val: list.nth($values, $i);

    @if $i-val != auto and math.unit($i-val) != "%" {
      $i-val: math.div(strip-unit($i-val), strip-unit($base-value)) * $type;
    }

    $new-values: list.append($new-values, $i-val);
  }

  @if $max == 1 {
    @return list.nth($new-values, 1);
  } @else {
    @return $new-values;
  }
}

@function em($values, $base-value: $em-base) {
  @return emrem($values, $base-value, "em");
}

@function rem($values, $base-value: $em-base) {
  @return emrem($values, $base-value, "rem");
}
