* {
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: none;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  // font smoothing (https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
  text-size-adjust: 100%;

  // killing 300ms touch delay
  touch-action: manipulation;
}

main,
article,
aside,
footer,
header,
nav,
section,
search,
figcaption,
figure {
  display: block;
}

svg {
  fill: currentcolor;
  vertical-align: middle;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

summary {
  cursor: pointer;
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  appearance: none;
}

input {
  &::-webkit-date-and-time-value {
    text-align: left;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    opacity: 1;
    color: currentcolor;
  }
}

select {
  &:-moz-focusring {
    text-shadow: 0 0 0 #000;
    color: transparent;
  }
}
