{
  "root": true,
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": true,
    "import-notation": null,
    "no-descending-specificity": null,
    "comment-empty-line-before": null,
    "font-family-name-quotes": "always-unless-keyword",
    "selector-class-pattern": [
      "^(--)?[a-z0-9]+(-[a-z0-9]+)*$",
      {
        "message": "Expected class selector \"%s\" to be kebab-case"
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["inside-block", "blockless-after-same-name-blockless", "blockless-after-blockless", "first-nested"],
        "ignore": ["after-comment", "first-nested", "inside-block", "blockless-after-same-name-blockless", "blockless-after-blockless"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "define-mixin",
          "mixin",
          "custom-media"
        ]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "emify",
          "remify",
          "color-opacity"
        ]
      }
    ],
    "declaration-property-value-no-unknown": [
      true,
      {
        "ignoreProperties": {
          "/.+/": "/(emify|remify|color-opacity)\\(/"
        }
      }
    ]
  }
}
