$xxsmall: 480;
$xsmall: 480;
$small: 640;
$medium: 768;
$large: 960;
$xlarge: 1080;
$xxlarge: 1200;
$xxxlarge: 1400;
$xxxxlarge: 1680;
$mobile: $medium;

@custom-media --xxsmall-up (width >= emify($xxsmall));
@custom-media --xxsmall-down (width < emify($xxsmall));

@custom-media --xsmall-up (width >= emify($xsmall));
@custom-media --xsmall-down (width < emify($xsmall));

@custom-media --small-up (width >= emify($small));
@custom-media --small-down (width < emify($small));

@custom-media --medium-up (width >= emify($medium));
@custom-media --medium-down (width < emify($medium));

@custom-media --large-up (width >= emify($large));
@custom-media --large-down (width < emify($large));

@custom-media --xlarge-up (width >= emify($xlarge));
@custom-media --xlarge-down (width < emify($xlarge));

@custom-media --xxlarge-up (width >= emify($xxlarge));
@custom-media --xxlarge-down (width < emify($xxlarge));

@custom-media --xxxlarge-up (width >= emify($xxxlarge));
@custom-media --xxxlarge-down (width < emify($xxxlarge));

@custom-media --xxxxlarge-up (width >= emify($xxxxlarge));
@custom-media --xxxxlarge-down (width < emify($xxxxlarge));

@custom-media --mobile-up (width >= emify($mobile));
@custom-media --mobile-down (width < emify($mobile));
