@define-mixin scrollbar-custom $color: var(--color-black), $size: remify(4) {
  scrollbar-color: $color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    position: relative;
    background-color: $color;
    border-radius: var(--br-small);
  }
}
